* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #a0c5c9;
}

.container {
  text-align: center;
  background: #d0d0d0;
  padding: 55px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(62, 62, 62, 0.455);
  margin: 1.5rem;
}

h1 {
  margin-bottom: 20px;
  color: #4a6569;
}

input {
  padding: 10px;
  width: 200px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #e3e3e3;
  font-size: 1.1rem;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #38bed3;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 5px;
  font-size: 1.1rem;
}

button:hover {
  background-color: #3492a0;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #a7a7a7;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 15px #ffffffc5;
  /* font-size: 1.2rem; */
}

td,
th {
  border: 1px solid #b4b4b4;
  padding: 12px;
  text-align: center;
  color: #434343;
}

tr:nth-child(even) {
  background-color: #38bed324;
}
