body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #b7d6da;
  margin: 0;
}

.container {
  text-align: center;
  background: #e8e8e8;
  padding: 55px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(62, 62, 62, 0.455);
}

h1 {
  margin-bottom: 20px;
  color: #4a6569;
}

input {
  padding: 10px;
  width: 200px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #38bed3;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 5px;
}

button:hover {
  background-color: #3492a0;
}

#tableContainer {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #a7a7a7;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 15px #38bed39a;
}

td,
th {
  border: 1px solid #b4b4b4;
  padding: 10px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #38bed324;
}
